<html>
    <head>
        <title>Pickaxe Wiki: {{ artifact.name }}</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a><br/>
        <a href="/artifacts">All artifacts</a><br/>
        <a href="/search">Search</a>
        <h1 style="color:{{ artifact.color }}">{{ artifact.name }}</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.tech">the non-development version</a> instead.</h2>
        {% endif %}
        <img src="{{ url_for('static', filename=artifact.image_href) }}"
            width=300 height=300 /><br/>
        <span style="font-style:italic">
        {% for line in artifact.lore %}
        <br/>{{ line }}
        {% endfor %}
        </span>
        {% if artifact.audio %}
        <br/><button id="playscale">Play sound scale</button>
        <script>
let playScaleButton = document.getElementById("playscale");
let audio = new Audio("{{ url_for('static', filename = artifact.audio) }}");
playScaleButton.onclick = function() {
    audio.play();
}
        </script>
        {% endif %}
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>