<html>
    <head>
        <title>Pickaxe Wiki: All Blocks</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>All Blocks</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.tech">the non-development version</a> instead.</h2>
        {% endif %}
        <ul>
            {% for block in blocks %}
            <li>{{ block.icon(url_for)|safe }}</li>
            {% endfor %}
        </ul>
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>