<html>
    <head>
        <title>Pickaxe Wiki: Communist</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Pickaxe Wiki: Communist Items</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.tech">the non-development version</a> instead.</h2>
        {% endif %}
        <ul>
            {% for item, gives_slot in items %}
            <li>{{ item.icon(url_for)|safe }}
                {% if gives_slot %}
                    (upgrades accessory bag)
                {% endif %}</li>
            {% endfor %}
        </ul>
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>