<html>
    <head>
        <title>Pickaxe Wiki: Credits</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Pickaxe Wiki: Credits</h1>
        <ul>
            <li>Made by monochromeninja</li>
            <li>Hosted by ShowierData9978</li>
            <li>Most of the wiki data is from
                <a href="https://sites.google.com/view/pickaxewiki">RCRS's wiki</a></li>
            <li>Item information from Adamlol_gaming, Anton_V_Noske, Broken_Milk, CelestialGemini_, EmilisTraukinys, FrenchFryFan, HeroSteveGo, __Minecraftian__, Magggg, Min3Mast3r, _Pixellord, RCRS, RotemRotem, and SwordPartee</li>
            <li>Resource pack by sporefreak</li>
        </ul>
        If you're not listed here and believe you should be, please let me know!
    </body>
</html>