<html>
    <head>
        <title>Pickaxe Wiki: Credits</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Pickaxe Wiki: Credits</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.tech">the non-development version</a> instead.</h2>
        {% endif %}
        <ul>
            <li>Made by monochromeninja</li>
            <li>Hosted by <a href="https://showierdata.tech">ShowierData9978</a></li>
            <li>Most of the wiki data is from
                <a href="https://sites.google.com/view/pickaxewiki">RCRS's wiki</a></li>
            <li>Item information from Adamlol_gaming, Anton_V_Noske, Broken_Milk, CelestialGemini_, Creator1410, EmilisTraukinys, FrenchFryFan, HeroSteveGo, Kenorbs, __Minecraftian__, Magggg, MightyCyclops, Min3Mast3r, OCJDaze4, _Pixellord, RCRS, RotemRotem, and SwordPartee</li>
            <li>Resource pack by sporefreak</li>
        </ul>
        If you're not listed here and believe you should be, please let me know!
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>