<html>
    <head>
        <title>Pickaxe Wiki: {{ enchant.name }}</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a><br/>
        <a href="/enchants">All enchantments</a>
        <h1>{{ enchant.name }}</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.xyz">the non-development version</a> instead.</h2>
        {% endif %}
        Effect: {{ enchant.effect }}<br/>
        Location: {{ enchant.location }}<br/>
        Requirements:
        <table>
            {% for i, req in enumerate(enchant.requirements) %}
            <tr>
                <th>Level {{ i+1 }}</th>
                {% for item in req %}
                <td>
                    {% if item %}
                    {{ item.icon(url_for)|safe }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>