<html>
    <head>
        <title>Pickaxe Wiki</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <h1>Pickaxe Wiki</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.xyz">the non-development version</a> instead.</h2>
        {% endif %}
        {% if msg == "submit" %}
        <span style="color:#0f0">Submitted suggestion!</span><br/>
        {% elif msg == "updated" %}
        <span style="color:#0f0">Updated settings!</span><br/>
        {% elif msg == "admin" %}
        <span style="color:#0f0">Granted admin mode!</span><br/>
        {% elif msg == "unadmin" %}
        <span style="color:#0f0">Removed admin mode!</span><br/>
        {% elif msg == "noadmin" %}
        <span style="color:#f00">Access denied. You are not an admin.</span><br/>
        {% endif %}
        <ul>
            <li><a href="/blocks">All blocks</a></li>
            <li><a href="/items">All items</a></li>
            <li><a href="/enchants">All enchantments</a></li>
            <li><a href="/artifacts">All artifacts</a></li>
            <li><a href="/crafttiers">All crafting tiers</a></li>
            <li><a href="/museum">Museum</a></li>
            <li><a href="/communist">Communist</a></li>
            <li><a href="/sputtrooms">Sputtrooms</a></li>
            <li><a href="/progression">Suggested Progression</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/api">API Reference</a></li>
            <li><a href="/calculator">Calculator</a></li>
            <li><a href="/achievements">Achievements</a></li>
            <li><a href="/medals">Medal Shop</a></li>
            <li><a href="/credits">Credits</a></li>
            <li><a href="/suggest">Suggestions</a></li>
            <li><a href="/admin">
                {%- if admin -%}
                    Disable Admin
                {%- else -%}
                    Enable Admin
                {%- endif -%}
            </a></li>
            {% if admin %}
            <li><a href="/suggestions" class="admin">Suggestion List</a></li>
            <li><a href="/forceupdate" class="admin">Force Update</a></li>
            {% endif %}
            <li><a href="https://monochromeninja.repl.co">My other websites</a></li>
        </ul>
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>