<html>
    <head>
        <title>Pickaxe Wiki: Medal Shop</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Pickaxe Wiki: Medal Shop</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.xyz">the non-development version</a> instead.</h2>
        {% endif %}
        {% for medal_data in medals %}
            <h2>
                <img src="{{ url_for('static',
                    filename='images/default/' + medal_data['icon']) }}"
                    width=50 height=50 />
                {{ medal_data['name'] }}
            </h2>
            <span style="font-style:italic">
            {% for line in medal_data['description'] %}
                {{ line }}<br/>
            {% endfor %}
            </span>
            Costs: <table class="lopad">
                <tr>
                    <th>Level</th>
                    {% for i in range(len(medal_data['costs'])) %}
                    <td>{{ i+1 }}</td>
                    {% endfor %}
                </tr><tr>
                    <th>Level cost</th>
                    {% for cost in medal_data['costs'] %}
                    <td>{{ cost }}</td>
                    {% endfor %}
                </tr><tr>
                    <th>Cumulative cost</th>
                    {% set ns = namespace(cumulative_cost = 0) %}
                    {% for cost in medal_data['costs'] %}
                    {% set ns.cumulative_cost = ns.cumulative_cost + cost %}
                    <td>{{ ns.cumulative_cost }}</td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>