<html>
    <head>
        <title>Pickaxe Wiki: Sputtrooms</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Sputtrooms</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.xyz">the non-development version</a> instead.</h2>
        {% endif %}
        Access the Sputtrooms by suffocating yourself, for example, in the dirt when it's refilling.<br/>
        <img src="{{ url_for('static', filename='images/default/sputtrooms_map.png') }}" width=602 height=198 /><br/>
        <ul>
            <li>Gray: Floor</li>
            <li>Black: Wall</li>
            <li>Red: Inaccessible/wire</li>
            <li>Blue: Beacon</li>
            <li>Light blue: Glass</li>
            <li>Brown: Soul sand</li>
            <li>Dark gray: Door/iron bars</li>
            <li>The purple X at the top is where you come out if you use the secret tunnel access in the Mesa.</li>
        </ul>
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
    </body>
</html>