<html>
    <head>
        <title>Pickaxe Wiki: Suggestion List</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Suggestion List</h1>
        {% if is_dev_version %}
        <h2 style="color:#f80">This is the development version! Please check <a id="link" href="https://pickaxe.showierdata.tech">the non-development version</a> instead.</h2>
        {% endif %}
        <form action="/updatesuggests" method="POST">
            <textarea id="suggests" name="suggests" style="width:100%">{{ suggestions }}</textarea><br/>
            <input type="submit" value="Update"></input>
        </form>
        <script src="{{ url_for('static', filename='fixlink.js') }}"></script>
        <script>
let ta = document.getElementById("suggests");
ta.style.height = (ta.scrollHeight + 10) + "px";
        </script>
    </body>
</html>