<html>
    <head>
        <title>Pickaxe Wiki: Suggestion List</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <a href="/">Home</a>
        <h1>Suggestion List</h1>
        <form action="/updatesuggests" method="POST">
            <textarea name="suggests">{{ suggestions }}</textarea><br/>
            <input type="submit" value="Update"></input>
        </form>
    </body>
</html>